@use "../utils/mixins" as *;

:root {
  --text-color: var(--color-gray-500);
  --border-color: var(--color-gray-300);
  --border-width: 1px;
  --border: var(--border-width) solid var(--border-color);
  --round-full: calc(infinity * 1px);
}

.search-container {
  @include sticky(0, 0, 0);

  width: 100vw;
  border-bottom: var(--border);
  padding: 40px 0 16px;
  background-color: var(--color-white);

  input {
    color: var(--text-color);
    outline: none;
    padding: 10px 9px;

    &::placeholder {
      color: var(--color-gray-400);
    }
  }

  svg {
    @include icon(20px, var(--color-gray-600), 1.5px);
  }
}

@mixin tag($bg-color, $text-color, $font-size: "inherit", $font-weight: 500) {
  @include flex-center;

  background-color: $bg-color;
  color: $text-color;
  font-size: $font-size;
  font-weight: $font-weight;
  border: var(--border);
  border-radius: var(--round-full);
  padding: 4px 8px;
  margin-right: 4px;
}

@mixin circle($color, $stroke: 3px) {
  color: $color;
  stroke: $color;
  stroke-width: $stroke;
}

.container svg {
  @include icon(16px, var(--color-gray-600), 1.5px);

  margin-right: 8px;
}

.search-bar{
  @include flex-center;

  .filter-button {
    color: var(--color-gray-600);
    padding: 0 8px;
    border: none;

    &:focus {
      outline-style: none;
    }

    svg {
      &:hover {
        stroke: var(--color-blue-500);
      }

      &:active {
        stroke: var(--color-gray-700);
      }
    }

    svg.active-icon {
      stroke: var(--color-blue-600);
      fill: var(--color-blue-100);
    }
  }

  .search-inputs {
    @include flex-center;

    border: var(--border);
    border-radius: var(--round-full);
    color: var(--color-gray-500);

    &:focus-within {
      border-color: var(--color-gray-400);
    }

    .keyword-field {
      @include flex-center;

      padding: 0 16px;
      border-right: var(--border);
    }

    .postcode-field {
      @include flex-center;

      padding: 0 16px;
    }

    .search-button {
      color: var(--color-white);
      font-weight: 600;
      background-color: var(--color-red-400);
      border: none;
      border-radius: var(--round-full);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 10px 20px;

      &:hover {
        background-color: var(--color-red-500);
      }

      &:active {
        background-color: var(--color-red-600);
      }

      &:focus {
        outline-style: none;
      }
    }
  }
}

.filter-panel {
  margin: 0 auto;
  max-width: 600px;

  .filter-row {
    margin-top: 16px;
  }

  .filter-date-picker {
    font-size: inherit;
    padding: 0 11px;

    input {
      font-size: inherit;
      line-height: inherit;
      padding: 8px;
      color: var(--text-color);
      width: 120px;
    }

    .ant-picker-range-separator {
      padding: 0;
    }
  }

  .ant-select {
    height: 37px;
    width: 220px;
    font-size: inherit !important;

    .ant-select-selector {
      font-size: inherit !important;
      color: var(--text-color) !important;
    }

    .ant-select-clear {
      inset-inline-end: 16px;
    }
  }
}

.container {
  padding-block: 16px;

  .item-box {
    padding: 14px;
    margin-top: 20px;
    border-radius: 8px;
    border: var(--border);
    background-color: var(--color-white);
    max-width: 896px;
    margin-inline: auto;
    box-sizing: border-box;

    .item-title {
      font-size: 18px;
      line-height: inherit;
      font-weight: 600;
    }

    .item-info {
      margin-top: 12px;

      .item-row {
        display: flex;
        align-items: center;
        color: var(--color-gray-600);
        font-size: 16px;
        line-height: calc(1.25 / 0.875);
        margin-top: 8px;

        .item-register-normal {
          @include tag(var(--color-green-100), var(--color-green-800), 12px);
        }

        .item-register-unvalidated {
          @include tag(var(--color-red-100), var(--color-red-800), 12px);
        }

        .item-intensity {
          @include tag(var(--color-yellow-100), var(--color-yellow-800), 12px);
        }

        .item-circle-first {
          @include circle(var(--color-gray-200), 3px);
        }

        .item-circle-second {
          @include circle(var(--color-blue-400), 6px);
        }
      }
    }
  }
}

