@use "../utils/mixins" as *;

:root {
  --text-color: var(--color-gray-500);
  --svg-color: var(--color-gray-600);
  --border-color: var(--color-gray-300);
  --border-width: 1px;
  --border: var(--border-width) solid var(--border-color);
  --border-color-hover: var(--color-gray-400);
  --round-full: calc(infinity * 1px);
  --background-color: var(--color-white);
  --background-color-hover: var(--color-gray-100);
  --title-color: var(--color-black);
  --input-max-width: 350px;
}

.dark-mode {
  --text-color: var(--color-gray-200);
  --svg-color: var(--color-gray-300);
  --border-color: var(--color-gray-100);
  --border-color-hover: var(--color-gray-200);
  --shadow-color: rgb(0 0 0 / 30%);
  --background-color: var(--color-gray-700);
  --background-color-hover: var(--color-gray-600);
  --title-color: var(--color-gray-200);
}

.search-wrapper {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;

  svg {
    @include icon(20px, var(--svg-color), 1.5px);
  }
}

.search-container {
  @include sticky(0, 0, 0);

  width: 100vw;
  border-bottom: var(--border);
  padding: 40px 0 16px;
  background-color: var(--background-color);

  input {
    color: var(--text-color);
    outline: none;
    padding: 10px 9px;

    &::placeholder {
      color: var(--color-gray-400);
    }
  }
}

@mixin tag($bg-color, $text-color, $font-size: "inherit", $font-weight: 500) {
  @include flex-center;

  background-color: $bg-color;
  color: $text-color;
  font-size: $font-size;
  font-weight: $font-weight;
  border: var(--border);
  border-radius: var(--round-full);
  padding: 4px 8px;
  margin-right: 4px;
}

@mixin circle($color, $stroke: 3px) {
  color: $color;
  stroke: $color;
  stroke-width: $stroke;
}

@mixin alert($color, $text-color) {
  background-color: $color;
  color: $text-color !important;
  padding: 3px 12px;
  border-radius: 100px;
}

%primary-button {
  color: var(--color-white);
  background-color: var(--color-red-400);
  border: 1px solid var(--color-red-400);

  &:hover {
    background-color: var(--color-red-500) !important;
  }

  &:active {
    background-color: var(--color-red-600) !important;
  }

  &:focus {
    outline-style: none;
  }
}

.search-bar{
  @include flex-center;

  margin: 0 16px;

  .filter-button {
    color: var(--color-gray-600);
    padding: 0 8px;
    border: none;

    &:focus {
      outline-style: none;
    }

    svg {
      &:hover {
        stroke: var(--color-blue-500);
      }

      &:active {
        stroke: var(--color-gray-700);
      }
    }

    svg.active-icon {
      stroke: var(--color-blue-600);
      fill: var(--color-blue-100);
    }
  }

  .search-inputs {
    @include flex-center;

    border: var(--border);
    border-radius: var(--round-full);
    color: var(--color-gray-500);

    &:focus-within {
      border-color: var(--border-color-hover);
    }

    input {
      @media (width <= 768px) {
        padding: 0;
      }
    }

    .keyword-field {
      @include flex-center;

      padding: 0 16px;
      border-right: var(--border);

      @media (width <= 768px) {
        padding-right: 0;
      }
    }

    .postcode-field {
      @include flex-center;

      padding: 0 16px;
    }

    .search-button {
      @extend %primary-button;

      font-weight: 600;
      border: none;
      border-radius: var(--round-full);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 10px 20px;
    }
  }
}

.filter-panel {
  margin: 0 auto;
  max-width: 600px;

  // ------ deprecated ---------
  .filter-row {
    margin-top: 16px;
  }

  .filter-date-picker {
    font-size: inherit;
    padding: 0 11px;

    input {
      font-size: inherit;
      line-height: inherit;
      padding: 8px;
      color: var(--text-color);
      width: 120px;
    }

    .ant-picker-range-separator {
      padding: 0;
    }
  }

  .ant-select {
    height: 37px;
    width: 220px;
    font-size: inherit !important;

    .ant-select-selector {
      font-size: inherit !important;
      color: var(--text-color) !important;
    }

    .ant-select-clear {
      inset-inline-end: 16px;
    }
  }

  // ------ END deprecated ---------
}

.filter-modal {
  svg {
    @include icon(20px, var(--svg-color), 1.5px);
  }

  button.ok-button{
    @extend %primary-button;
  }

  .filter-row {
    margin-top: 16px;

    .postcode-input {
      padding: 8px 16px;

      &:focus-within {
        border-color: var(--border-color-hover);
      }
    }
  }

  .filter-date-picker {
    font-size: inherit;
    padding: 0 11px;

    input {
      font-size: inherit;
      line-height: inherit;
      padding: 8px;
      color: var(--text-color);
      width: 120px;
    }

    .ant-picker-range-separator {
      padding: 0;
    }
  }

  .ant-select {
    height: 37px;
    width: 220px;
    font-size: inherit !important;

    .ant-select-selector {
      font-size: inherit !important;
      color: var(--text-color) !important;
    }

    .ant-select-clear {
      inset-inline-end: 16px;
    }
  }
}

// 强制修改 DateRange.RangePicker 组件 panels 纯直展示
.ant-picker-panels {
  @media (width <= 480px) {
    display: flex !important;
    flex-direction: column !important;
  }
}

.container {
  @include flex-center;

  .item-card {
    padding: 14px;
    border-radius: 8px;
    border: var(--border);
    background-color: var(--background-color);
    max-width: 896px;
    margin-inline: auto;
    margin: 20px 10px 0;
    box-sizing: border-box;

    &:hover {
      background-color: var(--background-color-hover);
      border-color: var(--border-color-hover);
    }

    @media (width <= 768px) {
      padding: 16px;
      border-radius: 10px;
      width: 80%;
    }

    @media (width <= 576px) {
      max-width: calc(100% - 24px); // 在小屏幕上减少边距
      width: calc(100% - 24px); // 左右各留12px的边距
    }

    @media (width <= 480px) {
      padding: 12px;
      margin-bottom: 16px;
      max-width: calc(100% - 16px); // 在更小屏幕上进一步减少边距
      width: calc(100% - 16px); // 左右各留8px的边距
    }

    .card-title {
      color: var(--title-color);
      font-size: 18px;
      line-height: inherit;
      font-weight: 600;
    }

    .card-info {
      margin-top: 12px;

      .card-row {
        display: flex;
        align-items: center;
        color: var(--text-color);
        font-size: 16px;
        line-height: calc(1.25 / 0.875);
        margin-top: 8px;

        span {
          margin-left: 8px;
        }

        .alert-normal {
          @include alert(var(--color-green-100), var(--color-green-800));
        }

        .alert-warning {
          @include alert(var(--color-red-100), var(--color-red-800));
        }

        .category-icon {
          width: 20px;
          height: 20px;
        }

        .item-register-normal {
          @include tag(var(--color-green-100), var(--color-green-800), 12px);
        }

        .item-register-unvalidated {
          @include tag(var(--color-red-100), var(--color-red-800), 12px);
        }

        .item-intensity {
          @include tag(var(--color-yellow-100), var(--color-yellow-800), 12px);
        }

        .item-circle-first {
          @include circle(var(--color-gray-200), 3px);
        }

        .item-circle-second {
          @include circle(var(--color-blue-400), 6px);
        }
      }
    }
  }
}

