@mixin sticky($top: 0, $right: 0, $left: 0) {
  position: sticky;
  top: $top;
  right: $right;
  left: $left;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin icon($size: 20px, $color: var(--color-gray-600), $stroke: 1.5px) {
  width: $size;
  height: $size;
  stroke: $color;
  stroke-width: $stroke;
}
